html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
header, footer, nav, menu, aside, article, audio, canvas, datalist, details, embed, figcaption, figure, main, hgroup, keygen, button, mark, meter, output, progress, section, source, summary, video
{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
header, footer, section, nav, menu, aside, article, figure, figcaption, main, summary { display:block; }
*, *:after, *:before { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
img { border:none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content:none; }
:focus { outline:0; -moz-outline-style:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse; border-spacing:0; margin:0; border:0; width:auto;}
td { border:0; vertical-align:middle; text-align:left; margin:0; padding:0; }
hr { border:0; height:1px; background:#ccc; margin:30px 0; }

html { height:100%; }
body:before { content:""; height:100%; float:left; width:0; margin-top:-32767px; }
a { color:#074069; text-decoration:none; transition:all 0.2s; -webkit-transition:all 0.2s; -khtml-transition:all 0.2s; -moz-transition:all 0.2s; -o-transition:all 0.2s; }
a:hover { color:#2778ab; text-decoration:none; cursor:pointer; }
a:active { color:#777; }
::selection { background-color:#074069; color:#fff; text-shadow:none; }
::-moz-selection { background-color:#074069; color:#fff; text-shadow:none; }
::-webkit-selection { background-color:#074069; color:#fff; text-shadow:none; }
mark { font-weight:bold; }


body { width:100%; min-width:300px; height:100%; min-height:100%; text-align:left; line-height:1.4; cursor:default; color:#333; background:#074069; -webkit-font-smoothing:antialiased; }
body, input, textarea, select, button { font-size:16px; font-family: "Open Sans", "ArianAMURegular", Arian AMU, Arial AMU, Verdana, Tahoma Armenian, Tahoma, "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial Unicode, Arial, Helvetica, sans-serif; }
.ie8 body { background:#fff; }

#jsite { position:relative; width:100%; min-height:100%; overflow:hidden; }

	.hide-logo { display:none; text-align:center; }
	header {}
	
	.top-line { position:absolute; top:5px; height:30px; width:100%; overflow:hidden; }
	#langs, #private { float:left; position:relative; white-space:nowrap; left:10px; font-size:13px; }
	#private { float:right; right:10px; left:auto; } 
	.private-line { border-left: 1px solid #ccc; width:1px; height:11px; }
	#langs li, #private li { display:inline-block; }
	#langs li a, #langs li span, #private li a, #private li span { position:relative; display:block; padding:4px 10px; top:0; color:#fff; text-shadow:0 1px 1px #555; 
		border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; -khtml-border-radius:20px;
	}
	#langs li a:hover, #langs li a:focus, #langs li span, #private li a:hover, #private li a:focus, #private li span { background:#fff; color:#074069; text-shadow:none; }
	#langs li a:active, #private li a:active { top:2px; }
	
	.header-main { position:relative; line-height:0; width:100%; overflow:hidden; }
  	.home .header-cover { height:400px; }
  	.page .header-cover { height:250px; }
  	.header-cover { -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; }
  	.header-cover > img { width:100%; height:auto; }
	.header-skin { position:absolute;  left:0; right:0; bottom:0; }
	.parallax { min-height:200px; background:transparent; line-height:0; text-align: center;}
	.page .parallax { min-height:250px; }
  .leftdiv {float: left; text-align: left; padding-left: 100px}
  .rightdiv {float: right; text-align: right;}	
  .centerdiv { text-align: center;}	
  .redasterisk {color:Red;}
	.page h1, .home h2 { text-align:center; font-size:33px; font-weight:normal; padding:10px; margin-top:50px; color:#555; text-transform:uppercase; letter-spacing:1px; background: url(/img/site-underline.png) center bottom no-repeat; }
	.page h1.post { text-transform:none; letter-spacing:inherit; }
	h3, h4, h5, h6 { font-size:17px; padding:5px; margin:0; }
	h3.post { text-align:center; color:#0093b2; }
	
	.logo-cont { position:relative; width:363px; margin:0 auto; opacity:1; 
		transition:all 0.2s; -webkit-transition:all 0.2s; -khtml-transition:all 0.2s; -moz-transition:all 0.2s; -o-transition:all 0.2s;
	}
	.home .logo-cont { top:120px; }
	.page .logo-cont { top:20px; }
	.home .logo-cont:active { top:122px; }
	.page .logo-cont:active { top:22px; }
	.logo-cont a { position:absolute; display:block; top:0; left:0; right:0; bottom:0; cursor:pointer; }
	.logo-cont:hover { opacity:.8; }
	.logo-cont:active { opacity:.7; }
	
	.logo { position:relative; top:0; width:200px; height:200px; margin:0 auto; background:url(/logo.jpg) no-repeat center center; background-size:100%; -webkit-background-size:100%; -moz-background-size:100%; -o-background-size:100%; }
	.page .logo { background-size:70%; -webkit-background-size:70%; -moz-background-size:70%; -o-background-size:70%; }
	
	.home h1.site-title, .page h2.site-title { width:347px; height:56px; margin:15px auto; padding:0; background:url(/img/site-title-hy.png) no-repeat center center; font-size:0 !important; color:#555; font-weight:normal; }
	.page h2.site-title { margin-top:-10px; background-size:80%; -webkit-background-size:80%; -moz-background-size:80%; -o-background-size:80%; }
	.home h1.site-title-en, .page h2.site-title-en { width:361px; background-image:url(/img/site-title-en.png); }
    .boldtitle {font-size: large; font-weight: bold}
    .selected-bold { font-weight:bold; }
    li.side-link a.selected-sub { font-weight:bold; background:#ddd; color:#074069; }
    .link-left { text-align:left; }

	#center { position:relative; display:block; overflow:hidden; padding:0 0 350px 0; background:#eee; }
	section { width:950px; margin:0 auto; }

	.circle-icon { position:relative; display:inline-block; text-align:center; margin:15px 30px; width:90px; height:90px; color:#074069; box-shadow:0 0 0 7px rgba(7,64,105,.3);
		border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; -khtml-border-radius:50%;
		transition:box-shadow 0.2s; -webkit-transition:box-shadow 0.2s; -khtml-transition:box-shadow 0.2s; -moz-transition:box-shadow 0.2s; -o-transition:box-shadow 0.2s;
	}
	.circle-icon:after {position:absolute; content:''; top:0; left:0; padding:0; width:100%; height:100%; pointer-events:none; box-shadow:0 0 0 3px #074069;
		border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; -khtml-border-radius:50%;
		box-sizing:content-box; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; 
		transition:transform 0.2s, opacity 0.2s; -webkit-transition:-webkit-transform 0.2s, opacity 0.2s; -khtml-transition:-khtml-transform 0.2s, opacity 0.2s; -moz-transition:-moz-transform 0.2s, opacity 0.2s; -o-transition:-o-transform 0.2s, opacity 0.2s;
	}
	.circle-icon:before { display:block; speak:none; font-size:48px; line-height:90px; }	

	ul.media { padding:20px 0; list-style:none; text-align:left; }

	ul.items { padding:20px 0; list-style:none; text-align:left; }
	li.item { position:relative; top:0; display:block; padding:5px 10px; overflow:hidden; border-bottom:1px solid #ccc; }
	li.item:last-child { border-bottom:0; }
    .item-table li:nth-child(even) { background: #eee; }
	.item-left { float:left; width:150px; }
	.item-left-margin { margin:0 20px 20px 0; }
	.item-right { float:right; }
	.item-cont { text-align:justify; }
	.item-cont-pad { padding-left:170px; text-align:justify; }
	.item-pic { border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; max-width:100%; height:auto; }
	.item-center { text-align:center; }
	.item-grey-area { background:#eee; text-align:left; padding:20px; margin:20px 0;
		border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px;
	}
	.item-right .button-link { margin:10px 0; }
	.item-right .button-link-margin { margin:20px 0 0 20px; }
	li.item > a { position:absolute; top:0; left:0; right:0; bottom:0; border:0; }
	li.item > a:hover, li.item > a:focus, li.item > a:active { border:0; }
	
	li.item .title { text-align:left; font-weight:bold; font-size:17px; padding-bottom:20px; }
	
    .style-left { text-align:left; }
    .style-right { text-align:right; }
    .style-center { text-align:center; }

    aside img.top-pic { width:220px; height:auto;
		border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px;
	}
	
		
	.form { width:300px; margin:0 auto; padding-top:20px; text-align:left; }
	#req { color: red;}
	input[type="text"], input[type="search"], input[type="password"], input[type="file"], select { margin:2px 0 10px; padding:3px; width:300px; height:40px; border:1px solid #bbb; background-color:#fff;
		border-radius: 10px; -moz-border-radius:2px; -webkit-border-radius:2px; -khtml-border-radius:2px; 
		box-shadow:inset 0 1px 5px rgba(0,0,0,.1); -moz-box-shadow:inset 0 1px 5px rgba(0,0,0,.1); -webkit-box-shadow:inset 0 1px 5px rgba(0,0,0,.1); -khtml-box-shadow:inset 0 1px 5px rgba(0,0,0,.1);
		transition:all 0.2s; -webkit-transition:all 0.2s; -khtml-transition:all 0.2s; -moz-transition:all 0.2s; -o-transition:all 0.2s;
	}
	textarea { margin:2px 0 10px; padding:5px; line-height:1.4; border:1px solid #bbb; background-color:#fff; width:300px; max-width:300px; min-width:300px; min-height:100px; height:100px;
		border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -khtml-border-radius:2px; 
		box-shadow:inset 0 1px 5px rgba(0,0,0,.1); -moz-box-shadow:inset 0 1px 5px rgba(0,0,0,.1); -webkit-box-shadow:inset 0 1px 5px rgba(0,0,0,.1); -khtml-box-shadow:inset 0 1px 5px rgba(0,0,0,.1);
		transition:all 0.2s; -webkit-transition:all 0.2s; -khtml-transition:all 0.2s; -moz-transition:all 0.2s; -o-transition:all 0.2s;
	}
	
	input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="file"]:focus, textarea:focus, select:focus { border-color:#074069; }
	input[type="text"]:disabled, input[type="search"]:disabled, input[type="password"]:disabled, input[type="file"]:disabled, textarea:disabled, select:disabled,
	input[type="text"]:read-only, input[type="search"]:read-only, input[type="password"]:read-only, input[type="file"]:read-only, textarea:read-only { border-color:#ddd; color:#777; background:#f7f7f7; 
	}
	button, .button-link, input[type="submit"], input[type="button"] { position:relative; display:inline-block; top:0; font-weight:normal; padding:7px 20px; margin:15px;
		text-align:center; cursor:pointer; background-color:#074069; border:2px solid #074069; text-shadow:none; color:#fff;
		border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -khtml-border-radius:2px; 
		box-shadow:0 1px 2px rgba(0,0,0,.2); -moz-box-shadow:0 1px 2px rgba(0,0,0,.2); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2); -khtml-box-shadow:0 1px 2px rgba(0,0,0,.2);
		transition:all 0.2s; -webkit-transition:all 0.2s; -khtml-transition:all 0.2s; -moz-transition:all 0.2s; -o-transition:all 0.2s;
  	}
	.button-link { padding:3px 20px; background-color:#fff; color:#074069; }
	button:hover, button:active, button:focus,
    input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus,
    input[type="button"]:hover, input[type="button"]:active, input[type="button"]:focus { color:#333; background-color:#FFF; }
	.button-link:hover, .button-link:active, .button-link:focus { color:#fff; background-color:#074069; }
	button:active, 
    .button-link:active,
    input[type="submit"]:active, 
    input[type="button"]:active { top:2px; }

	button:disabled, input[type="submit"]:disabled, input[type="button"]:disabled { cursor:default; background-color:#f7f7f7; border-color:#ddd; color:#777; }
	button:disabled:active, input[type="submit"]:disabled:active, input[type="button"]:disabled:active { top:0; }

	.link_page_bar { text-align:center; font-size:17px; margin-top:30px !important; margin: 30px 20px 0; padding:30px 0 10px; border-top:1px solid #ccc; clear:both; }
	.link_page_bar a, .link_page_bar a:hover, .link_page_bar a:active, .link_page_bar a:focus { border:0; }
	.link_page_count { font-size:10px; line-height:2; text-align:center; color:#999; }
	a.link_page, 
	a.link_page_digit,
	.link_page_digit_select { position:relative; top:0; text-decoration:none; background:#eee; padding:8px 0; margin:3px; font-weight:300; width:40px; height:40px; display:inline-block; text-align:center;
		border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; -khtml-border-radius:50%;
	}
	a.link_page { font-weight:600; }
	a.link_page:hover, 
	a.link_page_digit:hover, 
	.link_page_digit_select { background:#074069; color:#fff; text-shadow:none; 
		border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; -khtml-border-radius:50%; }
	a.link_page:active, a.link_page:focus, 
	a.link_page_digit:active, a.link_page_digit:focus
	{ top:2px; background:#ddd; color:#074069; }
	.link_page_digit_select { cursor:default; }

	footer { position:relative; height:250px; margin-top:-250px; text-align:center; min-width:300px; background:#074069; overflow:hidden; color:#ddd; font-size:13px; }

	.logo-footer { position:relative; top:0; width:80px; height:80px; margin:20px auto 0; background:url(/logo.jpg) no-repeat center center; 
		background-size:100%; -webkit-background-size:100%; -moz-background-size:100%; -o-background-size:100%;
	}
	.ie8 .logo-footer { display:none; }
	.summary { font-size:13px; margin-top:10px; }

	#social-pages { position:relative; white-space:nowrap; font-size:25px; line-height:0; 
		border:1px solid #999; border-width:1px 0; width:300px; margin:20px auto; padding:5px; }
	#social-pages li { display:inline-block; margin:0 5px; }
	#social-pages li a { position:relative; top:0; display:block; height:35px; width:35px; padding-top:6px; color:#ddd; text-align:center; 
		border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; -khtml-border-radius:50%;
	 }
	#social-pages li:hover a { color:#074069; background:#fff; }
	#social-pages li a:active, #social-pages li a:focus { top:2px; color:#074069; background:#fff; }

	section { position:relative; }
	aside { position:relative; }

    table.table-head th { background:#f5f5f5; font-size:13px; font-weight:bold; }
	table.table-head td { text-align:right; }
	table.table-head th { text-align:center; }
	table.table-head tr:first-child th { text-align:center; }	
	table.table-line td, table.table-line th { border:0; border-bottom:1px solid #b4c5d2; padding:7px 10px; }
	table.table-line tr:first-child td, table.table-line tr:first-child th { border-top:1px solid #b4c5d2; }
	table.table-line-right td:nth-child(2), table.table-line-right th:nth-child(2) { text-align:right; }
	table.table-line-left td:nth-child(2), table.table-line-left th:nth-child(2) { text-align:left; }
	table.table-line th { background:#f5f5f5; font-size: 13px; }
	table.table-line-full td:first-child { width:auto; }
	table.table-line-simple td:first-child { font-weight:normal; }
	table.table-line-slim td:first-child { width:auto; font-weight:normal; }
	table.table-line-slim td span { display:block; font-weight:bold; }
	table.table-line-grey td { color:#333; }
	table.table-line-grey td:last-child { font-weight:normal; }
	table.table-line-grey tr:first-child td { border-top:0; }
	table.table-line-grey tr:last-child td { border-bottom:0; }

	.table-responsive-cont, .dataTables_wrapper { display: block; width: 100%; overflow-x: auto; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; }
	.termination-date { white-space:nowrap; font-size:14px; }
	
  #othertext1{
    display: none;
  }
  #otherapproach{
  display: none;
  }
  #itemother{
    display: none;
  }



h2 {
 background-color: darkgray;
 text-align: center; 
 color: azure; 
 font-family: fantasy;
 font-size: 30pt; 
 }


#existingData{
  font-size: 50px;
  text-align: center;
  color: rgb(188, 188, 188);
}